 @font-face {
    font-family: futurak;
    src: url(fonts/futurak.ttf);
 }

 body{
    margin: 0px;
}

.body{
    background-image: url(images/slide.webp);
}

.header{
    width: 88%;
    background-color: black;
    padding: 10px 100px;

 }
 .logo>img{
    width: 40%;
 }

 .menu>li{
    display: inline-block;
    color: white;
    margin-right: 20px;
}
.right-side{
    color:white;
}

.logo,.right-side{
    display: inline-block
}

.logo{
    width: 30%;
    vertical-align: middle;
}

.right-side{
    width: 68%;
     vertical-align: baseline;
}

.btn>button{
    border: none;
    color:white;
    padding: 15px 20px;
    border-radius: 50px;
}

.btn-one{
    background-color: transparent;
    color: white;
    border: 1px solid !important; 
    margin-top: 20px;
}

.btn-two{
    background-color: red;
    border: 1px solid red !important;
    color: white;
}

.menu{
    display: inline-block;
}

.btn{
    display: inline-block;
}
.right-side{
    margin: -40px;
}
.btn-two>i{
    background-color: white;
    color: rgb(222, 12, 12);
    padding: 0px 3px;
    border-radius: 50px;
    margin: 3px;
}
img{
    padding: 40px -1px 0px 120px;


}

.slide{
    width: 100%;
}

.intro{
    width: 103%;
    background-color: black;
    color: white;
}
.content{
    text-align: center;
    padding: 30px;
    margin-top: -6px;
}
 
.content> h2 > span {
    font-size: 37px;
    font-family:futurak;
    src: url(fonts/futurak.ttf);
}
.cards-logo{
    text-align: center;
    width: 250px;
    background-color: white;
    padding: 30px 20px;
}
.cards-logo > img{
    width: 100%;
}
.card-btn > button{
    border: none;
    padding: 15px 50px;
    border-radius: 37px;
    background-color: transparent;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2) !important; 
}
.card-btn{
    width: 250px;
    margin-top: 1px;
    text-align: center;
}

.card-container{
    text-align: center;
}

.cards{
    display: inline-block;
}
.cards-logo-center{
    margin: 0px 20px; 
    background-color: rgb(255, 251, 251);
    padding: 53px  20px 2px 20px;
}
.bottom{
    background-color: black;
    color: brown;
    width: 100%;
}

.bottom-content>h1{
    font-size:52px;
    font-family: futurak;
    src: url(fonts/futurak.ttf);
    background-color: black;
    color: white;
    margin-top: 56px;
}
.bottom-content >h2{
    font-size: 48px;
    background-color: black;
    color: white;
    margin:0px 0px 8px;
    line-height: 80px;
    padding: 0px 30px -0px 0px;

}
.bottom-content>p{
    background-color: black;
    color: rgb(255, 225, 225);
}
.bottom{
    width: 100%;
    text-align: center;
    padding: 2px 20px; 
}

.f-container{
    width: 60%;
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: black;

}

.f-address>h5{
    
    color: red;
}


.f-address{
    width: 520px;
    height: 280px;
    vertical-align: top;
    margin-top: 15px;
    padding: 0px 35px;
    color: bisque;

}


.f-img{
    width: 56%;
    margin-top: 30px;
    padding: 0px 35px;

}
.f-img>img{
    width: 220px;
    height: 280px;
    vertical-align: middle;
    
}

.f-button>button{
    border: none;
    color:white;
    padding: 15px 20px;

}

.f-button{
    background-color: transparent;
    color: white;
    border: 1px solid !important; 
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 50px;
}
.f-button>i{
    background-color: white;
    color: red;
    padding: 3px 5px;
    border-radius: 35px;
}

.fa-container{
    display: flex;
    justify-content: space-around;
    background-color: black;
    padding: 20px 10px 20px 10px;
}
.fa-address{
    display: inline-block;
    color: white;
}
.fa-address>h5{
    color: red;
    letter-spacing: 15px;
}
.fa-address>h2>span{
    font-family: futurak;
    src: url(fonts/futurak.ttf);
}

.frn-btn-two>button{
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 50px;
}
.frn-btn-two{
    background-color: transparent;
    color: white;
    border: 1px solid !important;
    border-radius: 35px;
    margin-top: 20px;
    padding: 10px 15px 10px 15px;
    border-radius: 35px;
}
.frn-btn-two>i{
    background-color: white;
    color: red;
    padding: 3px 5px 5px 5px; 
    border-radius: 55px;
}

.g-main-contaier{
    width: 60%;
    height: 160px;
    display: flex;
}

.g-addres{
    margin-bottom: 25px;
}
.g-addres>h2{
    width: 100%;
    height: 150px;
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 0px;
    padding-top: 30px;
}

.g-addres>h2>span{
    font-family: futurak;
    src: url(fonts/futurak.ttf);
    font-size: 70px;
}

.g-img-addres{
    display: flex;
    justify-content: space-around;
    margin-top: -25px;

}

.g-img>img{
    width: 670px;
}

.g-f-addres{
    width: 50%;
    height: 284px;
    background-color: black;
    color: white;
    padding: 50px;
    margin-right: 7px;

}

.g-f-addres>small{
    color: red;
    letter-spacing: 15px;
}

.g-f-addres>h3{
    font-size: 40px;
    font-family: futurak;
    src: url(fonts/futurak.ttf);
}

.g-f-addres>,.g-img{
    display: flex;
    justify-content: space-around;
}

.g-f-addres>button{
    background-color: green;
    color: white;
    margin-top: 15px;
    padding: 10px;
    border: 1px solid !important;
    border-radius: 35px;
}
.g-f-addres>button>i{
    background-color: white;
    color:green;
    padding: 10px;
    border: 1px solid !important;
    border-radius: 35px;
}


.box-main-container{
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    margin: -6px 15px 15px 0px;
    align-items: center;
}

.box-one>h1{
    text-align: center;
    font-family: 'futurak';
    font-style: normal;
    font-weight: 400;
    font-size: 52px;
    line-height: 62px;
    color: #FFFFFF;
}


.box-one>h2{
    text-align: center;
    margin-bottom: 8px;
    font-family: 'butler';
    font-style: normal;
    font-size: 48px;
    line-height: 60px;
    color: #FFFFFF;
    margin-bottom: 8px;
}

.location-box-1{
    display: inline-block;
    width: 280px;
    height: 230px;
    background: #FFFFFF;
    border-radius: 4px;
    text-align: center;
    padding: 25px 24px;
    margin: auto;
    margin-bottom: 32px;
    color: black;
    font-family: futurak;
    src: url(fonts/futurak.ttf);
}

.location-box-two{
    display: inline-block;
    width: 280px;
    height: 230px;
    background: white;
    border-radius: 4px;
    text-align: center;
    padding: 25px 24px;
    margin: auto;
    margin-bottom: 32px;
    color: black;
    font-family: futurak;
    src: url(fonts/futurak.ttf);
}

.location-box-three{
    display: inline-block;
    width: 280px;
    height: 230px;
    background: white;
    border-radius: 4px;
    text-align: center;
    padding: 25px 24px;
    margin: auto;
    margin-bottom: 32px;
    color: black;
    font-family: futurak;
    src: url(fonts/futurak.ttf);
}


.box-main-container{
    display: flex;
    flex-flow: column;
}

.footer-main-container{
    background-color: black;
    color: white;
    width: 100%;
    height: auto;
    text-align: center;
    margin: -25px 0px 0px 0px;
}

.footer-main-container>h2{

}